.load {
	text-align:center;
	margin-top: 35px;
	color: rgb(0,0,0);
	font-size: 4em;
	font-family: "Montserrat", sans-serif;
	animation: cssload-breathe 10s ease infinite;
		-o-animation: cssload-breathe 10s ease infinite;
		-ms-animation: cssload-breathe 10s ease infinite;
		-webkit-animation: cssload-breathe 10.65s ease infinite;
}

@keyframes cssload-breathe {
	0% {
		letter-spacing: 0;
		text-shadow: 0 0 2px white;
	}
	30% {
		color: transparent;
	}
<<<<<<< HEAD
}

.menu {
	background-color: #000080;
  font-size: 25px;
  font-weight: normal;
  cursor: pointer;
  text-shadow:
               -3px -3px 0 hsl(200,100%,75%),
               -2px -2px 0 hsl(200,100%,80%),
               -1px -1px 0 hsl(200,100%,85%),
               0 0 0 hsl(200,100%,95%);
  color: transparent;
  transition: all 1s;
  }

	.menu:hover {
    text-shadow:
               -1px 1px 0 hsl(80,100%,85%),
               0 0 0 hsl(80,100%,95%);
      color: transparent;
    }
=======

}
>>>>>>> 94bdd571e23d58fe5cb8d989bc80692624f7d5d1

.menu {
   width: 1120px;
   text-transform: none;
   text-align: center;
   line-height: 50px;
   background: #003399;
 }

.menu  {
  padding:10px;
  margin-left: 250px;
}

.menu li{
  display: inline;
  list-style:none;
  margin: 5px 10px;
}

   .menu li a {
      padding:5px 10px;
      color:#fff;
      text-decoration: none;
   }

   .menu li a:hover{
      background: #36c;
      color: #ff0
   }

     .drop-down{
     position: relative
 }

 .drop-down ul{
     position: absolute;
     bottom 0;
     display: none;
     list-style: none;
     background: #696969;
     padding-left: 0;
 }

 .drop-down ul li{
     padding: 10px;
     margin: auto;
<<<<<<< HEAD
      transition: all .1s;
=======
      transition: all .5s;
>>>>>>> 94bdd571e23d58fe5cb8d989bc80692624f7d5d1
 }
 .drop-down:hover ul{
     display: inline;
 }


.center {
  text-align: center;
}
.body {
  text-align: center;
}

.news{
    display: flex;
}
.article{
    width: 50%;
    border: solid 1px #ccc;
    margin: 1em
}
.article h3, .article p{
      padding: 0 20px;
}
.article img{
    width: 100%;
    height: auto
}
#img-logo{
  margin-top: -95px;
  margin-left: 85px;
}
